# server
uvicorn

# LangChain Core
langchain
langchain-core

# vector strorage
chromadb

# Backend
fastapi

# Frontend
streamlit

# Hugging Face Integration
sentence-transformers
langchain-huggingface
langchain-groq
langchain-google-genai
huggingface-hub
langchain-text-splitters
langchain-community
langgraph


# Environment Variable Management
python-dotenv
pydantic
